<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaowei.mapper.mapper.SelfUserDOMapper">
    <!-- 自动生成,请修改 SELF_USER.xml -->
    <resultMap id="BaseResultMap"  type="com.xiaowei.mapper.dataobject.SelfUserDO">
            <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
            <result column="COMP_ID" property="compId" jdbcType="BIGINT" javaType="Long"/>
            <result column="UUID" property="uuid" jdbcType="VARCHAR" javaType="String"/>
            <result column="STATE" property="state" jdbcType="CHAR" javaType="String"/>
            <result column="REMARK" property="remark" jdbcType="VARCHAR" javaType="String"/>
            <result column="U_PHONE" property="uPhone" jdbcType="VARCHAR" javaType="String"/>
            <result column="DEL_FLAG" property="delFlag" jdbcType="CHAR" javaType="String"/>
            <result column="NAME_TOP" property="nameTop" jdbcType="VARCHAR" javaType="String"/>
            <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" javaType="String"/>
            <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" javaType="String"/>
            <result column="U__AUTH_SALT" property="uAuthSalt" jdbcType="VARCHAR" javaType="String"/>
            <result column="U_LOGIN_PWD" property="uLoginPwd" jdbcType="VARCHAR" javaType="String"/>
            <result column="U_NICKNAME" property="uNickname" jdbcType="VARCHAR" javaType="String"/>
            <result column="NAME_BOTTOM" property="nameBottom" jdbcType="VARCHAR" javaType="String"/>
            <result column="U_LOGIN_NAME" property="uLoginName" jdbcType="VARCHAR" javaType="String"/>
            <result column="U_REGIST_TYPE" property="uRegistType" jdbcType="CHAR" javaType="String"/>
            <result column="SYS_LOGIN_NUMBER" property="sysLoginNumber" jdbcType="INTEGER" javaType="Integer"/>
            <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,COMP_ID,UUID,STATE,REMARK,U_PHONE,DEL_FLAG,NAME_TOP,CREATE_BY,UPDATE_BY,U__AUTH_SALT,U_LOGIN_PWD,U_NICKNAME,NAME_BOTTOM,U_LOGIN_NAME,U_REGIST_TYPE,SYS_LOGIN_NUMBER,CREATE_TIME,UPDATE_TIME
    </sql>


        <!--插入表:SELF_USER-->
        <insert id="insert" >
                <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        INSERT INTO SELF_USER(
        COMP_ID
        ,UUID
        ,STATE
        ,REMARK
        ,DEL_FLAG
        ,CREATE_BY
        ,UPDATE_BY
        ,U__AUTH_SALT
        ,U_LOGIN_PWD
        ,U_NICKNAME
        ,U_LOGIN_NAME
        ,CREATE_TIME
        ,UPDATE_TIME
        )VALUES(
        #{compId,jdbcType=BIGINT}
        ,#{uuid,jdbcType=VARCHAR}
        ,#{state,jdbcType=CHAR}
        ,#{remark,jdbcType=VARCHAR}
        ,#{delFlag,jdbcType=CHAR}
        ,#{createBy,jdbcType=VARCHAR}
        ,#{updateBy,jdbcType=VARCHAR}
        ,#{uAuthSalt,jdbcType=VARCHAR}
        ,#{uLoginPwd,jdbcType=VARCHAR}
        ,#{uNickname,jdbcType=VARCHAR}
        ,#{uLoginName,jdbcType=VARCHAR}
        ,#{createTime,jdbcType=TIMESTAMP}
        ,#{updateTime,jdbcType=TIMESTAMP}
        )
        </insert>

        <!--更新表:SELF_USER-->
        <update id="update" >
                UPDATE /*MS-SELF-USER-UPDATE*/ SELF_USER
        SET
        COMP_ID = #{compId,jdbcType=BIGINT}
        ,UUID = #{uuid,jdbcType=VARCHAR}
        ,STATE = #{state,jdbcType=CHAR}
        ,REMARK = #{remark,jdbcType=VARCHAR}
        ,DEL_FLAG = #{delFlag,jdbcType=CHAR}
        ,CREATE_BY = #{createBy,jdbcType=VARCHAR}
        ,UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
        ,U__AUTH_SALT = #{uAuthSalt,jdbcType=VARCHAR}
        ,U_LOGIN_PWD = #{uLoginPwd,jdbcType=VARCHAR}
        ,U_NICKNAME = #{uNickname,jdbcType=VARCHAR}
        ,U_LOGIN_NAME = #{uLoginName,jdbcType=VARCHAR}
        ,CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
        ,UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        WHERE
        ID = #{id,jdbcType=BIGINT}
        </update>

        <!--根据主键删除数据:SELF_USER-->
        <delete id="deleteById" >
                DELETE /*MS-SELF-USER-DELETEBYID*/ FROM SELF_USER
        WHERE
        ID = #{id,jdbcType=BIGINT}
        </delete>

        <!--根据主键获取数据:SELF_USER-->
        <select id="getById" resultMap="BaseResultMap">
                SELECT /*MS-SELF-USER-GETBYID*/  <include refid="Base_Column_List" /> FROM SELF_USER
        WHERE
        ID = #{id,jdbcType=BIGINT}
        </select>

        <!--根据主键获取数据:SELF_USER-->
        <select id="uuid" resultMap="BaseResultMap">
                SELECT /*MS-SELF-USER-UUID*/  id, uuid, comp_id, u_login_name, u__auth_salt, u_login_pwd, u_nickname, name_top,
        name_bottom, remark, state, del_flag,sys_login_number FROM self_user
        WHERE
        uuid = #{uuid,jdbcType=VARCHAR}
        </select>

        <!--login-->
        <select id="login" resultMap="BaseResultMap">
                SELECT
        id, uuid, comp_id, u_login_name, u__auth_salt, u_login_pwd, u_nickname, name_top,
        name_bottom, remark, state, del_flag,sys_login_number,u_phone
        from self_user
        where u_login_name=#{u_login_name,jdbcType=VARCHAR}
        </select>

        <!--checkUser-->
        <select id="checkUser" resultType="int">
                select /*MS-SELF-USER-CHECKUSER*/ count(id) from self_user
        <trim prefix="where" prefixOverrides="and">
            <if test="uPhone!=null and uPhone.trim()!=''">
                and u_phone=#{uPhone,jdbcType=VARCHAR}
            </if>
        </trim>
        </select>

        <!--insertSelective-->
        <insert id="insertSelective" >
                insert into self_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uuid != null">
                uuid,
            </if>
            <if test="compId != null">
                comp_id,
            </if>
            <if test="uLoginName != null">
                u_login_name,
            </if>
            <if test="uAuthSalt != null">
                u__auth_salt,
            </if>
            <if test="uLoginPwd != null">
                u_login_pwd,
            </if>
            <if test="uNickname != null">
                u_nickname,
            </if>
            <if test="uPhone != null">
                u_phone,
            </if>
            <if test="sysLoginNumber != null">
                sys_login_number,
            </if>
            <if test="nameTop != null">
                name_top,
            </if>
            <if test="nameBottom != null">
                name_bottom,
            </if>
            <if test="uRegistType != null">
                u_regist_type,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="compId != null">
                #{compId,jdbcType=BIGINT},
            </if>
            <if test="uLoginName != null">
                #{uLoginName,jdbcType=VARCHAR},
            </if>
            <if test="uAuthSalt != null">
                #{uAuthSalt,jdbcType=VARCHAR},
            </if>
            <if test="uLoginPwd != null">
                #{uLoginPwd,jdbcType=VARCHAR},
            </if>
            <if test="uNickname != null">
                #{uNickname,jdbcType=VARCHAR},
            </if>
            <if test="uPhone != null">
                #{uPhone,jdbcType=VARCHAR},
            </if>
            <if test="sysLoginNumber != null">
                #{sysLoginNumber,jdbcType=INTEGER},
            </if>
            <if test="nameTop != null">
                #{nameTop,jdbcType=VARCHAR},
            </if>
            <if test="nameBottom != null">
                #{nameBottom,jdbcType=VARCHAR},
            </if>
            <if test="uRegistType != null">
                #{uRegistType,jdbcType=CHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=CHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        </insert>

        <!--updateByPrimaryKeySelective-->
        <update id="updateByPrimaryKeySelective" >
                update /*MS-SELF-USER-UPDATEBYPRIMARYKEYSELECTIVE*/ self_user
        <set>
            <if test="uuid != null">
                uuid = #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="compId != null">
                comp_id = #{compId,jdbcType=BIGINT},
            </if>
            <if test="uLoginName != null">
                u_login_name = #{uLoginName,jdbcType=VARCHAR},
            </if>
            <if test="uAuthSalt != null">
                u__auth_salt = #{uAuthSalt,jdbcType=VARCHAR},
            </if>
            <if test="uLoginPwd != null">
                u_login_pwd = #{uLoginPwd,jdbcType=VARCHAR},
            </if>
            <if test="uNickname != null">
                u_nickname = #{uNickname,jdbcType=VARCHAR},
            </if>
            <if test="uPhone != null">
                u_phone = #{uPhone,jdbcType=VARCHAR},
            </if>
            <if test="sysLoginNumber != null">
                sys_login_number = #{sysLoginNumber,jdbcType=INTEGER},
            </if>
            <if test="nameTop != null">
                name_top = #{nameTop,jdbcType=VARCHAR},
            </if>
            <if test="nameBottom != null">
                name_bottom = #{nameBottom,jdbcType=VARCHAR},
            </if>
            <if test="uRegistType != null">
                u_regist_type = #{uRegistType,jdbcType=CHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=CHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
        </update>
</mapper>
